// VARIABLES
$white: #fff;
$btnbg: #0a7dce;
$display-inline-block: inline-block;
$font-thirty: 30px;
$width-main: 100%;
$width-twelve: 12%;
$width-eight: 80%;
$vertical-align-top: top;
$text-center: center;
$text-uppercase: uppercase;
$cursorpointer: pointer;
$padding-ten: 10px;
$margin-right-fiv: 5px;
$font-eighteen: 18px;
$font-bold: bold;
$font-normal: 400;
$justify-content-left: left;
$position-absolute: absolute;
$width-thitry-per: 46%;
$display-none: none;
$top-seventy: 70px;
$margin-top-ten: 15px;
$list-style-none: none;
$font-fiften-ten: 10px;
$margin-twnty-zero: 20px 0;
$margin-fourty-zero: 40px 0;
$margin-bottom-ten: 10px;
$margin-top-ten: 10px;
$padding-ten: 10px;
$padding-twenty-fourty: 20px 40px;
$padding-main: 15px 200px 15px 15px;
$padding-main-search: 15px 20px 15px 70px;
$position-rel: relative;
$position-abs: absolute;
$height-seventy: 70px;
$border-main: 1px solid #b5b5b5;
$border-second: 1px solid #e6e6e6;
$right-zero: 0;
$top-zero: 0;
$line-height-fourty: 40px;
$box-shadow-four: 4px 8px 10px #d6d2d2;
$header-padding: 0 0 25px; 
$header-border-bottom: 4px solid #0a7dce;  
$header-color: #0a7dce;